.list {
    list-style-type: none;
    padding: 10px;
    min-height: 15px;
}

.list__tasks {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px;
    grid-gap: 20px;
    border-bottom: 1px solid #eee;
    align-items: center;
}

.list__item {
    word-break: break-all;
}

.list__item--done {
    text-decoration: line-through;
}

.list__item--hidden {
    display: none;
}

.list__button {
    grid-column: 1;
    background-color: green;
    border: none;
    color: white;
    width: 33px;
    height: 33px;
    align-content: center;
    align-items: center;
    justify-content: center;
    transition: 1s;
    cursor: pointer;
}

.list__button:hover {
    background-color: hsl(120, 100%, 30%);
}

.list__button--remove {
    background-color: red;
    color: white;
    grid-column: 3;
}

.list__button--remove:hover {
    background-color: hsl(0, 100%, 70%);
}

.list__tasks--hidden {
    display: none;
}